# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://tdpkueqdmnnzeqeunhia.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRkcGt1ZXFkbW5uemVxZXVuaGlhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA5OTM3NTEsImV4cCI6MjA2NjU2OTc1MX0.Baw9ibMc88uoO701uernWeKLsGHPTw52uZglSgSv6Xk
